@media (max-width: 1550px) {
  .left-nav-box {
    gap: 6vh;
    padding-top: 4vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

  .hero {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding-top: 12vh;
  }

  .hero-text-box {
    grid-column: 2 / span 2;
    gap: 0.6rem;
    transform: translateX(2rem);
  }

  .heading-primary {
    font-size: 1.8rem;
  }

  .hero-description {
    font-size: 1.4rem;
  }

  .giant-link-box {
    transform: translateX(-6rem);
    grid-column: 4 / span 4;
    transform: translateY(3rem);
  }

  .giant-link {
    font-size: 8vw;
  }
}

@media (max-width: 1250px) {
  .left-nav-link,
  .left-nav-link:link {
    font-size: 1rem;
  }

  .work-heading {
    font-size: 1.8rem;
  }

  .work-description {
    font-size: 1.2rem;
  }

.section-heading {
  margin-top: 10vh;
}

  .section-contact {
    padding-top: 2.2rem;
  }

  .contact-form {
    gap: 2.2rem;
  }

  .contact-form input {
    font-size: 1.2rem;
  }





  .project-demo { 
    font-size: 1.6rem; 
  }

  .project-github:link  {
    font-size: 1.6rem;
  }

  .project-card {
    max-width: 60vw;
  }

  .project-description{
    margin-right: 3.2rem;
    font-size: 1.6rem;
  }




}

@media (max-width: 950px) {

  .project-demo { 
    font-size: 1.4rem; 
  }

  .project-github:link  {
    font-size: 1.4rem;
  }

  .project-card {
    max-width: 60vw;
  }

  .project-description{
    margin-right: 3.2rem;
    font-size: 1.4rem;
  }

  .project-tech-stack {
    flex-wrap: wrap;
  }
}


@media (max-width: 750px) {
  .main-page {
    margin-top: 12vh;
  }

  .hero {
    grid-template-rows: 3fr 1fr 1fr  
  }

  .hero-text-box {
    grid-row: 3/ span 1;
    grid-column: 4 / span 3;
    gap: 0.4rem
  }

  .heading-primary {
    font-size: 1.2rem
  }

  .hero-description {
    font-size: 1rem
  }




  .giant-link-box  {
    grid-column: 3 / span 6;
  }

  .giant-link{
    font-size: 6vh;
  }

  .left-nav-box {
    gap: 8vh;
    padding-top: 8vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
  }


}


@media (max-width: 500px) {

  .giant-link {
    font-size: 4vh;
  }

  .left-nav-box {
    gap: 6vh;
    padding-top: 3.5vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
  }


  .section-text {
    margin-top: 3.2rem;
    font-size: 1.4rem;
    padding: 0 2.2rem
  }

  .about-container {
    top: 10vh;
    row-gap: 3.2rem;
  }

  .skills-heading {
    margin-top: 3.2rem;
  }

  .skills-container {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
  }






}