@media (max-width: 97em) {
  .left-nav-box {
    gap: 6vh;
    padding-top: 4vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

  .hero {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding-top: 12vh;
  }

  .hero-text-box {
    grid-column: 2 / span 2;
    gap: 0.6rem;
    transform: translateX(2rem);
  }

  .heading-primary {
    font-size: 1.8rem;
  }

  .hero-description {
    font-size: 1.4rem;
  }

  .giant-link-box {
    transform: translateX(-6rem);
    grid-column: 4 / span 4;
    transform: translateY(3rem);
  }

  .giant-link {
    font-size: 8vw;
  }
}

@media (max-width: 78em) {
  .back-arrow {
    height: 2.4rem;
    width: 2.4rem;

    padding: 2.2rem;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 1rem;
  }

  .work-heading {
    font-size: 1.8rem;
  }

  .work-description {
    font-size: 1.2rem;
  }

  .section-heading {
    margin-top: 10vh;
  }

  .section-contact {
    padding-top: 2.2rem;
  }

  .section-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .contact-form {
    gap: 1.8rem;
    padding: 0 4.4rem;
    /* margin: 4.2rem auto; */
  }

  .contact-form input {
    font-size: 1.2rem;
  }

  .btn-send {
    padding: 1.2rem 2.2rem;
    font-size: 1.6rem;
  }

  .section-work-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 6vh auto;
    gap: 6rem;
  }

  .work-text-box {
    /* grid-row: 1 / span 1;
    grid-column: 14 / span 6; */
  }

  .work-heading {
    font-size: 1.4rem;
  }

  .work-description {
    font-size: 1rem;
  }

  .project-giant-link-box {
    /* grid-row: 2 / span 1;
    grid-column: 3 / span 15; */
  }

  .project-giant-link:link,
  .project-giant-link {
    font-size: 8vh;
  }

  .project-demo {
    font-size: 1.6rem;
  }

  .project-github:link {
    font-size: 1.6rem;
  }

  .project-card {
    gap: 1.6rem;
  }

  .project-description {
    margin-right: 3.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 60em) {
  .project-demo {
    font-size: 1.4rem;
  }

  .project-github:link {
    font-size: 1.4rem;
  }

  .work-text-box {
    grid-row: 1 / span 1;
    grid-column: 7 / span 6;
  }

  .project-giant-link-box {
    grid-row: 2 / span 1;
    grid-column: 3 / span 11;
  }

  .project-giant-link,
  .project-giant-link:link {
    font-size: 6vh;
  }

  .project-card {
    /* max-width: 60vw; */
  }

  .project-demo {
    font-size: 1.2rem;
  }

  .project-description {
    margin-right: 3.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-right: 5.4rem;
  }

  .project-tech-stack {
    flex-wrap: wrap;
  }

  .skills-heading {
    margin-top: 4.2rem;
    font-size: 2.4rem;
  }
  .skills-container {
    gap: 2.4rem;
  }

  .skills-container p {
    font-size: 1.4rem;
  }

  .resume {
    margin-top: 3.2rem;
  }
}

@media (max-width: 47em) {
  .main-page {
    margin-top: 12vh;
  }

  .hero {
    grid-template-rows: 3fr 1fr 1fr;
  }

  .hero-text-box {
    grid-row: 3 / span 1;
    grid-column: 4 / span 3;
    gap: 0.4rem;
  }

  .heading-primary {
    font-size: 1.2rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .giant-link-box {
    grid-column: 3 / span 6;
  }

  .giant-link {
    font-size: 6vh;
  }

  .left-nav-box {
    gap: 8vh;
    padding-top: 8vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  /* .message {
    font-size: 1.2rem;
  }

  .message::placeholder {
    font-size: 1.2rem;
  } */

  .project-giant-link,
  .project-giant-link:link {
    font-size: 4vh;
  }

  .project-giant-link-box {
    margin: 8rem auto;
  }

  .project-tech-stack {
    gap: 0.8rem;
  }

  .project-tech-stack p {
    margin-left: 0.8rem;
  }
}

@media (max-width: 32em) {
  .giant-link {
    font-size: 4vh;
  }

  .left-nav-box {
    gap: 6vh;
    padding-top: 3.5vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .section-text {
    margin-top: 3.2rem;
    font-size: 1.4rem;
    padding: 0 2.2rem;
  }

  .about-container {
    top: 10vh;
    row-gap: 3.2rem;
  }

  .skills-heading {
    margin-top: 3.2rem;
  }

  .skills-container {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
  }

  .work-text-box {
    grid-row: 1 / span 1;
    grid-column: 7 / span 6;
  }

  .work-heading {
    font-size: 1rem;
  }

  .work-description {
    font-size: 0.8rem;
  }

  .section-work-container {
    gap: 1.6rem;
  }

  .project-giant-link-box {
    /* grid-row: 2 / span 1;
    grid-column: 1 / span 10; */
    max-width: 90vw;
    justify-self: center;
    gap: 8rem;
    margin: 4rem auto;
  }

  .project-links {
    flex-wrap: nowrap;
  }

  .project-github:link {
    font-size: 1rem;
  }

  .project-description {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 0;
  }

  .contact-form {
    gap: 1.6rem;
  }
}
