@media (max-width: 1550px) {
  .left-nav-box {
    gap: 6vh;
    padding-top: 4vh;
  }

  .left-nav-link,
  .left-nav-link:link {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

  .hero {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding-top: 12vh;
  }

  .hero-text-box {
    grid-column: 2 / span 2;
    gap: 0.6rem;
    transform: translateX(2rem);
  }

  .heading-primary {
    font-size: 1.8rem;
  }

  .hero-description {
    font-size: 1.4rem;
  }

  .giant-link-box {
    transform: translateX(-6rem);
    grid-column: 4 / span 4;
    transform: translateY(3rem);
  }

  .giant-link {
    font-size: 8vw;
  }
}

@media (max-width: 1250px) {
  .left-nav-link,
  .left-nav-link:link {
    font-size: 1rem;
  }

  .project-giant-link {
    font-size: 6vw;
  }

  .work-heading {
    font-size: 1.8rem;
  }

  .work-description {
    font-size: 1.2rem;
  }

  .section-contact {
    padding-top: 2.2rem;
  }

  .contact-form {
    gap: 2.2rem;
  }

  .contact-form input {
    font-size: 1.2rem;
  }
}

@media (max-width: 950px) {
}
